/* CSS reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html { font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body{
zoom: 150%;
}



@media only screen and (max-width: 600px) {
  body {
  zoom: 90%;
  }
}



@media only screen and (min-width: 1080px) {
  body {
  zoom: 140%;
  }
}

@media only screen and (min-width: 1600px) {
  body {
  zoom: 170%;
  }
}




/* Typography =======================*/

/* Headings */

/* Main heading for card's front cover */
.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .3rem;
}

.inside-page__heading--city,
.card-front__text-view--city { color: white; }

.inside-page__heading--ski,
.card-front__text-view--ski { color: black; }

.inside-page__heading--beach,
.card-front__text-view--beach { color: black; }

.inside-page__heading--camping,
.card-front__text-view--camping { color: black; }

/* Front cover */

.card-front__tp { color: white; }

/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -.2rem;
  margin-bottom: 10rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: black;
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: white;
  border: 2px solid;
  border-radius: .2rem;
  border-color: grey;
  font-size: 0.9rem;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 85%;
  height: 5%;
  z-index: 10;
  padding: 0.4px;
  margin: 5px;
}

.inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city { 
  border-color: #d3d3d3;
  color: black;
  border-width: 1px;
}

.inside-page__btn--city::before { 
  background-color: #024B9A;
}

.inside-page__btn--ski { 
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--ski::before { 
  background-color: #279eb2;
}

.inside-page__btn--beach { 
  border-color: #fa7f67;
  color: #fa7f67;
}

.inside-page__btn--beach::before { 
  background-color: #fa7f67;
}

.inside-page__btn--camping { 
  border-color: #00b97d;
  color: #00b97d;
}

.inside-page__btn--camping::before { 
  background-color: #00b97d;
}

.inside-page__btn:hover { 
  color: orange;
}



/* Layout Structure=========================================*/

.main {
  background: white;

  );


 

  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* Container to hold all cards in one place */
.card-area {
  color: black;
  align-items: center;
  display: table-cell;
  height: 100%;
  justify-content: space-evenly;
  padding-left: 130px;
  padding-right: 0px;
}

@media only screen and (max-width: 600px) {
.card-area {
  padding-left: 100px;
}
}

/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: table-cell;
  height: 100%;
  justify-content: center;
  width: 98%;
  margin: 2px;
  padding-left: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .card-section {
  padding-right: 0px;
  }
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0,0,0, .05);
  height: 50rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}



/* Flip card - covering both the front and inside front page */



/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: hidden;
}



.card-front,
.card-back {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side PS4 Cover Color*/
.card-front {
  background-image: linear-gradient(to right, #024B9A , #0185CD);
);
}

.card-front {
  height: 16rem;
  width: 15rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #000000,
    #000000
  );
}

.card-front__tp--ski {
  background: linear-gradient(
    to bottom,
    #47c2d7,
    #279eb2
  );
}

.card-front__tp--beach {
  background: linear-gradient(
    to bottom,
    #fb9b88,
    #f86647
  );
}

.card-front__tp--camping {
  background: linear-gradient(
    to bottom,
    #00db93,
    #00b97d
  );
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}



/* Styling for the back side of the flip card */

.card-back {
  background-image: linear-gradient(to right, #024B9A , #0185CD);
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #F1F1F1;
  height: 100%;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15.5rem;
  z-index: 1;
  border: 1px solid #d3d3d3;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
}

/* Functionality ====================================*/



/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */


/* Footer ====================================*/

.footer {
  background-color: #333;
   margin-top: 3rem;
  padding: 1rem 0;
  width: 30%;
}

.footer-text {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}




















/* menu collapsable right 


.navbar{
  overflow: hidden;
  height: 63px;
}

.navbar a {
  background-color: black;
  float: right;
  posision: fixed;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover{
  color: black;
  background-color: black;
}

.side-nav{
  float: right;
  height: 100%;
  width: auto;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden; 
  transition: 0.5s;
}

#main h1 {
  transition: 0.5s;
}

.side-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #aaa;
}

.side-nav a:hover{
  color:#fff;
  font-size: 20px;
}

.btn-close{
  font-size: 34px;
  color: #ddd;
  position: auto;
  top: 0;
  right: 22px;
  text-decoration: none;
  background-color:        rgba(255,255,255,0.3);
}

 menu collapsable right */






/*
social button
*/

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 32px;
  height: 32px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 15.6px;
}
.social-button svg {
  height: 20%;
  width: 20%;
}
.social-button--mail {
  color: orange;
}
.social-button--mail::after {
  background: orange;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}
.social-button--youtube {
  color: red;
}
.social-button--youtube::after {
  background: red;
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  background: #6e5494;
}
.social-button--codepen {
  color: #212121;
}
.social-button--codepen::after {
  background: #212121;
}
.social-button--steam {
  color: #7da10e;
}
.social-button--steam::after {
  background: #7da10e;
}
.social-button--snapchat {
  color: #eec900;
}
.social-button--snapchat::after {
  background: #eec900;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: brown;
}
.social-button--instagram::after {
  background: brown;
}
.social-button--whatsapp {
  color: green;
}

.social-button--whatsapp::after {
  background: green;
}
.social-button--tiktok {
  color: black;
}
.social-button--tiktok::after {
  background: black;
}
.social-button--telegram {
  color: #229ED9;
}
.social-button--telegram::after {
  background: #229ED9;
}
.social-button--npmjs {
  color: #c12127;
}
.social-button--npmjs::after {
  background: #c12127;
}

.social-button--paypal {
  color: #3b7bbf;
}

.social-button--paypal::after {
  background: #3b7bbf;
}





/*
loading
*/
/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #63c6e1;
  -webkit-animation: spin 1.7s linear infinite;
          animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1e90ff;
  -webkit-animation: spin-reverse 0.6s linear infinite;
          animation: spin-reverse 0.6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0967c2;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #ffffff;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}
/*
loading
*/